.App {
  /* border: 1px solid #01576b;
  width: 278px;
  height: 236px; */
  margin: 100px;
}

.IncomeSpendSavings {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.IncomeSpending {
  display: flex;
  flex-direction: column;
  border: 1px solid #01576b;
  width: 278px;
  height: 236px;
}
.IncomeSpendHeader {
  text-align: center;
  background-color: #01576b;
  color: white;
}
.Savings {
  border: 1px solid #01576b;
  width: 278px;
  height: 236px;
}
.SavingsHeader{
  text-align: center;
  background-color: #01576b;
  color: white;
}
